<repository location="https://updatesite.palladio-simulator.com/palladio-core-commons/releases/latest/"/>
<repository location="https://updatesite.palladio-simulator.com/palladio-core-commons/branches/release5.2.0/"/>
<repository location="https://updatesite.palladio-simulator.com/palladio-core-pcm/releases/latest/"/>
<repository location="https://updatesite.palladio-simulator.com/palladio-core-pcm/branches/release5.2.0/"/>
<repository location="https://updatesite.palladio-simulator.com/palladio-qual-edp2/releases/latest"/>
<repository location="https://updatesite.palladio-simulator.com/palladio-qual-edp2/branches/release5.2.0/"/>
<repository location="https://updatesite.palladio-simulator.com/palladio-thirdparty-wrapper/releases/latest/"/>
<repository location="https://updatesite.palladio-simulator.com/palladio-thirdparty-wrapper/branches/release5.2.0/"/>
<repository location="https://updatesite.palladio-simulator.com/palladio-qual-measurementframework/releases/latest/"/>
<repository location="https://updatesite.palladio-simulator.com/palladio-qual-measurementframework/branches/release5.2.0/"/>
<repository location="https://updatesite.palladio-simulator.com/palladio-qual-metricspecification/releases/latest/"/>
<repository location="https://updatesite.palladio-simulator.com/palladio-qual-metricspecification/branches/release5.2.0/"/>
<repository location="https://updatesite.palladio-simulator.com/palladio-editors-commons/releases/latest/"/>
<repository location="https://updatesite.palladio-simulator.com/palladio-editors-commons/branches/release5.2.0/"/>
